I want a {{game}} game in Python.
Please write the code for the following feature:
{% for item in requirements %}
    {{ item }}
{% endfor %}

{% if code %}
Here is code you have already generated for me, please add or update this code:
{{code}}
{% endif%}

